body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  color: #222;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

#error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

